<!DOCTYPE html>
<html xmlns:mth="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Opciones Prestamos</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<table>
		<thead>
			<tr>
				<th>ID prestamo</th>
				<th>Monto</th>
				<th>Fecha creacion</th>
				<th>Fecha expiracion</th>
				<th>Tipo prestamo</th>
				<th>ID de cliente</th>
				<th>Nombre de cliente</th>
				<th>Opcion</th>

			</tr>
		</thead>
		<tbody>
			  <tr th:each="prestamo: ${prestamos}">
				<td th:text="${prestamo.idPrestamo}"></td>
				<td th:text="${prestamo.monto}"></td>
				<td th:text="${prestamo.fechaCreacion}"></td>
				<td th:text="${prestamo.fechaExpiracion}"></td>
				<td th:text="${prestamo.tipoPrestamo}"></td>
				<td th:text="${prestamo.cliente.getIdCliente()}"></td>
				<td th:text="${prestamo.cliente.getNombre()}"></td>
				<td><a th:href="@{/app/abonarPrestamoC/} + ${prestamo.idPrestamo}"><input type="button" value="Abonar"></a></td>
				</tr>
				 
		</tbody>
	</table>
	<br>
	<br>
	<br>
	<a th:href="@{http://localhost:8080/bd/buscarIdCliente?idCliente=}+${idCliente}"><input type="button" value="Menu cliente"></a>
	<a href="/app/index"><input type="button" value="Menu Principal"></a>
</body>
</html>