<!DOCTYPE html>
<html xmlns:mth="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Abonar</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<form th:action="@{/bd/retirarMonto}" method="get">
		<div>

			<div>
				<label for="idPrestamo">ID de cliente</label><br>
				<div>
					<input type="number" name="idCliente" th:value="${idCliente}" readonly="readonly">
				</div>
				<br>
			</div>
			<div>
				<label for="monto">Cantidad a retirar</label><br>
				<div>
					<input type="text" name="montoRetirado">
				</div>
				<br>
			</div>
			<h3 th:text="${advertencia}"></h3>
			<br> <input type="submit" value="Aceptar">
		</div>
		</form>
	<br><br>
	<a th:href="@{http://localhost:8080/bd/buscarIdCliente?idCliente=}+${idCliente}"><input type="button" value="Menu cliente"></a>
	<a href="/app/index"><input type="button" value="Menu Principal"></a>
</body>
</html>