<!DOCTYPE html>
<html xmlns:mth="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Clientes</title>
</head>
<body style="text-align: center;">
	<h1 th:text="${titulo}"></h1>

	<form th:action="@{/bd/buscarIdCliente}"   method="get">
		<div>
			<div>
				<label for="idCliente">Ingresa tu ID de cliente </label><br>
				<div>
					<input type="number" name="idCliente">
				</div>
				<br> <input type="submit" value="Ver">
			</div>
		</div>
	</form>
	<br>
	<br>

	<a href="/app/index"><input type="button" value="Menu Principal"></a>

</body>
</html>