<!DOCTYPE html>
<html xmlns:mth="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Prestamos</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	
	
	<a href="/bd/opcionesPrestamo"><input type="button" value="Opciones Prestamos"></a>
	<a href="/app/admin"><input type="button" value="Menu Admin"></a>
	<a href="/app/index"><input type="button" value="Menu Principal"></a>
</body>
</html>